<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FB Test Suite" verbose="1">
  <test name="FB Title Testing">
    <classes>
      <class name="com.r.FBtest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
